<div class="text-center">
  <h1 class="display-4">Bienvenido a Mi Empresa</h1>
  <p class="lead">Desarrollamos soluciones web modernas y eficientes</p>

  <img src="https://cdn-icons-png.flaticon.com/512/1055/1055687.png" width="150" class="my-4">

  <div>
    <a href="/nosotros" class="btn btn-primary me-2">Conócenos</a>
    <a href="/contacto" class="btn btn-success">Contáctanos</a>
  </div>
</div>